<html>
<body>
    <form method="post" action="/<%=hash%>/configure/save">
        Title: <input type="text" name="title" value="<%= (!!configuration)?configuration.title:'' %>">
        <br>
        Message:
        <textarea name="message" cols="50" rows="10">
            <%= (!!configuration)?configuration.message:'' %>
        </textarea>

        <input type="submit" value="save">
    </form>

    Export <a href="/<%=hash%>/export">here</a>.
</body>
</html>